---
import Landing from '@layouts/Landing.astro'
import { URLS } from '@utils/data'
import { Home, Mail } from 'react-feather'
import Iconed from '@components/Iconed.astro'
---

<Landing>
  <h1 class="pb-12 leading-snug">
    Oops! <br />
     There&apos;s no such page 💫
  </h1>
  <h2>Troubleshooting</h2>
  <ul class="list-inside list-disc pb-8">
    <li>
      Do<strong>bu</strong>le check the URL spelling
    </li>
    <li>
      <a
        target="_blank"
        rel="noreferrer noopener"
        href={`mailto:${URLS.email}`}
        title={`Email: ${URLS.email}`}>
        <Iconed>
          <Mail slot="icon" />
          <span>Email me</span>
        </Iconed>
      </a>{' '}
       if you need this page
    </li>
    <li>
      <a href="/" title="Home Page">
        Redirect to{' '}
        <Iconed>
          <Home slot="icon" />
          <span>home</span>
        </Iconed>
      </a>
    </li>
  </ul>
</Landing>
