---
import Iconed from '@components/Iconed.astro'
import Link from '@components/Link.astro'
import Section from '@components/Section.astro'
import Main from '@layouts/Main.astro'
import { META, URLS } from '@utils/data'
import { Home, Mail } from 'react-feather'
---

<Main title={'404: Not Found' + ' | ' + META.title}>
  <Section class="relative">
    <h1 class="pb-12">
      Oops! <br />
       There&apos;s no such page 💫
    </h1>
    <h2>Troubleshooting</h2>
    <ul class="list-inside list-disc pb-8 text-lg">
      <li>
        Do<strong>bu</strong>le check the URL spelling
      </li>
      <li>
        <Link
          href={`mailto:${URLS.email}`}
          title={`Email: ${URLS.email}`}
          analyticsClick="send-email"
          isExternal>
          <Iconed>
            <Mail slot="icon" />
            <span>Email me</span>
          </Iconed>
        </Link>{' '}
         if you need this page
      </li>
      <li>
        <Link href="/" title="Home Page" analyticsClick="home-page">
          <span>Redirect to{' '}</span>
          <Iconed>
            <Home slot="icon" />
            <span>home</span>
          </Iconed>
        </Link>
      </li>
    </ul>
  </Section>
</Main>

<style>
  h1 {
    @apply pb-6 text-6xl;
  }

  h2 {
    @apply pb-4 text-4xl;
  }

  h3 {
    @apply pb-2 text-2xl;
  }
</style>
