---
import Iconed from '@components/Iconed.astro'
import { Calendar } from 'react-feather'

// eslint-disable-next-line @typescript-eslint/consistent-type-definitions
export interface Props {
  startDate?: string
  endDate?: string | undefined
  present?: string
}

const { startDate, endDate, present = 'Present', ...attrs } = Astro.props
---

<li class="flex flex-col" {...attrs}>
  <h3 class="small-heading">
    <slot name="title" />
  </h3>

  {
    startDate && (
      <p class="dimmed">
        <Iconed>
          <Calendar strokeWidth={3} slot="icon" />
          <span>{startDate}</span>
        </Iconed>
        —
        {endDate ? (
          <>
            <Iconed>
              <Calendar strokeWidth={3} slot="icon" />
              <span>{endDate}</span>
            </Iconed>
          </>
        ) : (
          present
        )}
      </p>
    )
  }

  {
    Astro.slots.has('description') && (
      <p class="py-2 leading-normal">
        <slot name="description" />
      </p>
    )
  }

  <slot />

  <div class="flex-grow"></div>
</li>
