---
import { CONTACTS, SEPARATOR } from '@utils/data'
import { type Social } from '@utils/types'
import { GitHub } from 'react-feather'

import packageJson from '../../package.json'

import FooterGroup from './FooterGroup.astro'
import Iconed from './Iconed.astro'
import Link from './Link.astro'
import Section from './Section.astro'

// eslint-disable-next-line @typescript-eslint/consistent-type-definitions
export interface Props {
  class?: string
}

const { class: className, ...attrs } = Astro.props

const allContacts = Object.keys(CONTACTS) as Social[]
---

<footer class:list={['mt-8 w-full', className]} {...attrs}>
  <Section class="flex flex-wrap justify-evenly pb-0">
    <FooterGroup contactGroup={allContacts} />
  </Section>
  <Section class="mt-2 pb-0 text-center text-gray-500 dark:text-gray-400">
    © Dolf Barr, {new Date().getFullYear()}
    {' '}
    {SEPARATOR}
    {' '}
    <Link
      isExternal
      href={packageJson.repository.url}
      title="Source code"
      analyticsClick="site-repository-url">
      <Iconed>
        <GitHub slot="icon" />
        <span>Source code</span>
      </Iconed>
    </Link>
  </Section>
  <slot />
</footer>
