---
import { CONTACTS, URLS } from '@utils/data'
import { type Social } from '@utils/types'

import Iconed from './Iconed.astro'
import Link from './Link.astro'
import SocialIcon from './SocialIcon'

// eslint-disable-next-line @typescript-eslint/consistent-type-definitions
export interface Props {
  contactGroup: Social[]
}

const { contactGroup } = Astro.props
---

<div class="flex flex-wrap justify-center gap-4">
  {
    contactGroup.map((contactKey: Social) => {
      return (
        <Link
          isExternal
          href={`${CONTACTS[contactKey].isEmail ? 'mailto:' : ''}${
            CONTACTS[contactKey].url
          }`}
          analyticsClick={contactKey + '-event'}
          title={
            CONTACTS[contactKey].title +
            (URLS[contactKey] ? `: ${String(URLS[contactKey])}` : '')
          }>
          <Iconed>
            <SocialIcon icon={contactKey} />
            <span class="sr-only">
              {CONTACTS[contactKey].title}
              {URLS[contactKey] && `: ${String(URLS[contactKey])}`}
            </span>
          </Iconed>
        </Link>
      )
    })
  }
</div>
