---
import { CONTACTS } from '@utils/data'
import { ExternalLink, Moon, Sun } from 'react-feather'

import Button from './Button.astro'
import Iconed from './Iconed.astro'
import NavLink from './NavLink.astro'
import Section from './Section.astro'

// eslint-disable-next-line @typescript-eslint/consistent-type-definitions
export interface Props {
  class?: string
}

const { class: className, ...attrs } = Astro.props
---

<header class:list={['mt-8 w-full font-play text-xl', className]} {...attrs}>
  <Section class="flex flex-wrap justify-between gap-4 pb-2">
    <nav class="flex justify-center align-middle">
      <ul class="flex justify-center gap-4 align-middle">
        <li>
          <NavLink
            title="About"
            href="/"
            analyticsClick="about-page"
            analyticsTitle="About page">
            About
          </NavLink>
        </li>
        <li>
          <NavLink
            title="Notes"
            href="/notes/"
            analyticsClick="notes-page"
            analyticsTitle="Notes page">
            Notes
          </NavLink>
        </li>
        <li>
          <NavLink
            href={CONTACTS.resume.url}
            title={CONTACTS.resume.title}
            analyticsClick="resume-download"
            isExternal>
            <Iconed>
              <ExternalLink slot="icon" />
              <span>Resume</span>
            </Iconed>
          </NavLink>
        </li>
      </ul>
    </nav>
    <Button
      analyticsClick="switch-theme"
      analyticsTitle="Switch theme"
      data-theme-button
      class="relative flex w-10 items-center justify-center rounded-full align-middle">
      <Sun
        size={16}
        data-theme-button-icon
        className="absolute opacity-100 transition-opacity dark:opacity-0"
      />
      <Moon
        size={16}
        data-theme-button-icon
        className="absolute opacity-0 transition-opacity dark:opacity-100"
      />
      <span class="sr-only">Switch theme</span>
    </Button>
  </Section>
</header>

<script>
  const themeButton = document.querySelector(
    '[data-theme-button]',
  ) as HTMLButtonElement | null

  if (themeButton) {
    themeButton.onclick = function themeSwitch() {
      const icons = themeButton.querySelectorAll('[data-theme-button-icon]')

      const wasDarkMode = document.documentElement.classList.contains('dark')

      icons.forEach((icon) => {
        icon.classList.add('duration-1000')
        icon.classList.add('motion-safe:animate-spin')
      })

      document.documentElement.classList.toggle('dark', !wasDarkMode)
      document.documentElement.style.colorScheme = wasDarkMode
        ? 'light'
        : 'dark'

      localStorage.setItem('theme', wasDarkMode ? 'light' : 'dark')

      setTimeout(() => {
        icons.forEach((icon) => {
          icon.classList.remove('duration-1000')
          icon.classList.remove('motion-safe:animate-spin')
        })
      }, 1000)
    }
  }
</script>
