---
export interface Props {
  class: string
}

const {class: className} = Astro.props
---

<span class:list={['inline-flex items-baseline gap-1', className ?? '']}>
  <slot name="icon" />
  <slot />
</span>
