---
// eslint-disable-next-line @typescript-eslint/consistent-type-definitions
export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<span class:list={['inline-flex items-baseline', className ?? '']}>
  <span class="icon relative top-[1px] mr-1">
    <slot name="icon" />
  </span>
  <slot />
</span>

<style lang="scss" is:inline>
  .icon {
    max-width: 0.8em;
    max-height: 0.8em;
  }

  .icon > * {
    stroke: context-stroke;
    width: 100%;
    height: 100%;
    display: flex;

    &::before {
      content: 'a';
    }
  }
</style>
