---
// eslint-disable-next-line @typescript-eslint/consistent-type-definitions
export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section class:list={[className ?? '']}>
  <slot />
</section>
