---
import BrowserDetector from '@components/BrowserDetector'
import Head from '@components/Head.astro'

import '@styles/styles.scss'
---

<html lang="en">
  <Head {...Astro.props} />
  <BrowserDetector client:only />
  <body>
    <slot />
  </body>
</html>
