---
import '@styles/styles.scss'
import Head from '@components/Head.astro'
---

<html lang="en">
  <Head {...Astro.props} />
  <body>
    <slot />
    <style lang="scss">
      @import '@styles/variables.scss';
    </style>
  </body>
</html>
